<!DOCTYPE html>

<html>
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Jeremy's Piddly App</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
    <link rel="stylesheet" href="app.css">
    <script src="core.js"></script>
</head>
<body ng-app="jeremyApp">
    <div ng-controller="MainCtrl">
    <div class="container">
        <h1>Welcome to Jeremy's Piddly App!</h1>
    <div class="col-md-6">
        <label>enter your name:</label>
        <form name="myForm">
        <input type="text" ng-model="yourName" placeholder="Enter a name here" required>
        <hr>
        <button ng-disabled="myForm.$invalid" ng-click="getNumber()">Get a number</button>
        <hr>
        <p>{{yourName}}'s number: {{ theNumber }}</p>
        <hr>
        <button ng-disabled="myForm.$invalid" ng-click="saveScore()">Save my score</button></form>
        <div class="alert alert-danger" role="alert" ng-show="showAlert()">
          <strong>Hang on!</strong> You really want to save a score of zero?
        </div>
    </div>
    <div class="col-md-6">
        <table style="width:100%">
          <tr>
            <th colspan="3">High Scores</th>
          </tr>
          <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Score</th>
          </tr>
          <tr ng-repeat="score in scores | limitTo:listLength">

            <!-- current score, if in list -->
            <td ng-if="score.score == currentScore"><strong>{{$index + 1}}</strong></td>
            <td ng-if="score.score == currentScore"><strong>{{score.name}}</strong></td>
            <td ng-if="score.score == currentScore"><strong>{{score.score}}</strong></td>

            <!-- normal non-current scores -->
            <td ng-if="score.score != currentScore">{{$index + 1}}</td>
            <td ng-if="score.score != currentScore">{{score.name}}</td>
            <td ng-if="score.score != currentScore">{{score.score}}</td>
        </tr>

        <tr ng-if="currentRank > listLength"><td ng-if="currentRank > listLength">...</td></tr>

            <!-- if off the list -->
        <tr ng-if="currentRank > listLength">
            <td ng-if="currentRank > listLength"><strong>{{currentRank}}</strong></td>
            <td ng-if="currentRank > listLength"><strong>{{currentName}}</strong></td>
            <td ng-if="currentRank > listLength"><strong>{{currentScore}}</strong></td>
        </tr>

        </table>
    </div>
    </div>
    </div>
</body>
</html>




